@import url('reset.css');

body{
	background-image: url(../img/main/index_bg.png);
	font-family: Quantico, Yusei Magic;
	color: #ffffff;
}

.wrapper{
	margin: 0 auto;
	width: 1200px;
	border: 3px solid pink;
}

.menu{
	background-color: #333;
	opacity: 85%;
}

.menu a img{
	width: 102px;
	height: 100px;
	margin-top: 10px;
	margin-left: 5px;
}

.menu ul{
	float: right;
	display: flex;
	margin-top: 55px;
	margin-right: 150px;
}

.menu li{

}

.menu li a{

}